$prime: #f44a56;
$second: #ffffff; 
$hover-bg: #e7333f; 

.main__web-svg {
  position: absolute !important;
}

#gooey-button {
  margin-top: 55px;
  font-size: 2rem;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $second;
  filter: url('#gooey');
  position: relative;
  background-color: $prime;
  border-radius: 13px;
  cursor: pointer;
  // max-width: 253px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $hover-bg;
    transform: translateY(-4px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);

    .bubbles {
      opacity: 0;
    }
  }

  // .bubbles {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;

  //   .bubble {
  //     background-color: $prime;
  //     border-radius: 50% 50% 25% 25%;
  //     position: absolute;
  //     top: 0;
  //     display: block;
  //     z-index: -1;

  //     @for $bubble from 1 through 10 {
  //       &:nth-child(#{$bubble}) {
  //         $width: 20px;
  //         $height: 50px;
  //         left: #{random(100) + 50}px;
  //         width: $width;
  //         height: $height;
  //         animation: move-#{$bubble} #{2 + $bubble * 0.02}s infinite;
  //         animation-delay: #{$bubble * 0.2}s;
  //         opacity: 1;
  //       }
  //     }
  //   }
  // }
}

// @for $bubble from 1 through 10 {
//   @keyframes move-#{$bubble} {
//     0% {
//       transform: translateY(0);
//       opacity: 1;
//     }
//     100% {
//       transform: translateY(100px);
//       opacity: 0;
//     }
//   }
// }

// Эффект проявления для всех элементов
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInMoveUp 1s ease-out forwards;
}

// Добавляем задержку для разных элементов
.delay-1 {
  animation-delay: 0.3s;
}
.delay-2 {
  animation-delay: 0.6s;
}
.delay-3 {
  animation-delay: 0.9s;
}

@keyframes fadeInMoveUp {
  0% {
    opacity: 0;
    transform: translateY(20px); // Текст выезжает снизу
  }
  100% {
    opacity: 1;
    transform: translateY(0); // Текст на месте
  }
}


.main__web {
  margin-top: 0; /* Убираем лишний отступ сверху */
  min-height: 100vh; /* Можно оставить, если фон должен занимать всю высоту экрана */
  width: 100%;
  padding-left: 80px;
    gap: 40px;
  display: flex;
  color: #fff;
  flex-direction: column;
  font-weight: 300;


  .main__web-bg {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Задаем высоту экрана */
  object-fit: cover;
  z-index: 0;
  }
  .main__web-title {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    font-size: 13vh; /* Шрифт будет изменяться в зависимости от высоты экрана */
  span {
    font-size: 23vh; /* Шрифт внутри span также изменяется относительно высоты экрана */
  }

  }
  .main__web-subtitle {
    display: flex;
    flex-direction: column;
    padding-right: 35px;
    font-size: 5vh;
    text-align: right;
    align-self: flex-end;
    span {
      font-size: 8vh;
      color: #fc5913;
    }
  }

  .main__web-link {
    font-size: 18px;
    color: #e4f3f1;
    align-self: flex-end;
    padding-right: 35px;
    position: relative;
    // padding-bottom: 25px;
    text-align: right;
    a {
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover {
        color: #f14902;
      }
    }
  }
}

.main__web::before {
  content: '';
  position: absolute;
  top: 0; /* Измените top на 0, чтобы не было отступов */
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(66, 66, 66, 0.3);
  z-index: 1;
}

.main__web * {
  position: relative;
  z-index: 2;
}

// @media (max-width: 1340px) {
//   .main__web {
//     justify-content: space-around;
//     padding-left: 40px;
//     .main__web-title {
//       font-size: 76px;
//       span {
//         font-size: 160px;
//       }
//     }
//     .main__web-subtitle {
//       font-size: 30px;
//       span {
//         font-size: 40px;
//       }
//     }
//   }
// }
@media (max-width: 768px) {
  .main__web {
    justify-content: space-around;
    padding-left: 40px;
    .main__web-title {
      font-size: 60px;
      span {
        font-size: 80px;
      }
    }
    .main__web-subtitle {
      font-size: 30px;
      span {
        font-size: 40px;
      }
    }
  }
  #gooey-button{
    font-size: 26px;
    margin-top: 30px;
  }
}
@media (max-width: 450px) {
    .main__web {
        padding-left: 20px;
      .main__web-title {
        font-size: 50px !important;
        span {
          font-size: 60px !important;
        }
      }
      .main__web-subtitle {
        font-size: 30px;
        span {
          font-size: 40px;
        }
      }
    }
  }
  @media (max-width: 345px) {
    .main__web {
        padding-left: 10px;
      .main__web-title {
        font-size: 45px !important;
        span {
          font-size: 55px !important;
        }
      }
      .main__web-subtitle {
        font-size: 25px;
        span {
          font-size: 35px;
        }
      }
    }
  }