.footer{
    display: flex;
    flex-direction: column;
    background: #1c191a;
    padding: 65px 50px 20px 50px;
    color: #fff;
    gap: 60px;
    .footer__links{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        .footer__links-block{
            display: flex;
            flex-direction: column;
            gap: 20px;
            text-transform: uppercase;
            .footer__links-link{
                font-family: 'Montserrat';
                display: flex;
                gap: 20px;
                font-weight: 700;
                font-size: 12px;
                letter-spacing: 0.04em;
                
                flex-direction: column;
                div{
                    display: flex;
                    gap: 30px;
                    a{
                        transition: all 0.3s ease;
                    }
                    a::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -3px;
                        width: 0;
                        height: 2px;
                        background-color: #f14902;
                        transition: width 0.3s ease;
                    }
                    a:hover{
                        scale: 1.1;
                        color: #f14902;
                    }
                    a:hover::after {
                        width: 100%;
                    }
                    
                }
            }
            .footer__links-mail{
                
                a{
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 0%;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    transition: all 0.3s ease;
                    position: relative;
                }
                a::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -3px;
                        width: 0;
                        height: 2px;
                        background-color: #f14902;
                        transition: width 0.3s ease;
                }
                a:hover{
                        scale: 1.1;
                        color: #f14902;
                }
                a:hover::after {
                        width: 100%;
                }
            }
            .footer__links-icons {
                display: flex;
                gap: 20px;
                a {
                    transition: all 0.3s ease;
                    display: inline-block;
                }
                a:hover svg {
                    scale: 1.1;
                    animation: shake 0.5s ease-in-out; 
                }
                a:hover svg path {
                    fill: #f14902;
                }
            }
        }
        .footer__links-text{
            font-weight: 300;
            font-size: 43px;
            text-align: right;
            max-width: 260px;
            span{
                color: #f14902;
            }
        }
        
    }
    .footer_privacy{
        display: flex;
        justify-content: space-between;
        font-family: "Trispace";
        font-weight: 400;
        font-size: 15px;
        letter-spacing: -0.07em;
    }
}
@keyframes shake {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(5deg); }
    20% { transform: rotate(-5deg); }
    30% { transform: rotate(5deg); }
    40% { transform: rotate(-5deg); }
    50% { transform: rotate(4deg); }
    60% { transform: rotate(-4deg); }
    70% { transform: rotate(4deg); }
    80% { transform: rotate(-4deg); }
    90% { transform: rotate(1deg); }
    100% { transform: rotate(0deg); }
}
@media (max-width: 760px) {
   .footer{
    .footer__links{
        flex-direction: column;
        .footer__links-text{
            max-width: 100%;
            text-align: left;
        }
    }
   }
}
@media (max-width: 740px) {
    .footer{
        padding: 65px 20px 20px 20px;
        .footer_privacy{
            font-size: 12px;
        }
    }
   
 }
 @media (max-width: 405px) {
    .footer{
        padding: 40px 20px 20px 20px;
        .footer_privacy{
            font-size: 12px;
        }
    }
    .footer__links-icons {
        a{
            svg{
                width: 35px;
                height: 35px;
            }
        }
        
    }
    .footer__links-text{
        font-size: 38px !important;
    }
    .footer__links-link{
        div{
            gap: 10px !important;
        }
    }
 }

.clutch-badges{
  display:flex;
  justify-content:left;
  align-items:center;
  gap:0px;
}

.clutch-badge{
  width:120px;
  height:120px;
  display:flex;
  justify-content:left;
  align-items:center;
  overflow:hidden;      /* прибирає “зайві” поля якщо вони є */
}

.clutch-badge iframe{
  width:120px;
  height:120px;
  border:0;
  display:block;
}
