@mixin a($bcolor, $url, $x1, $y1, $bor, $col) {
    background-color: $bcolor;
    -webkit-mask: url($url);
    mask: url($url);
    -webkit-mask-size: $x1 $y1;
    mask-size: $x1 $y1;
    -webkit-mask-repeat: no-repeat; // Prevent repeated patterns
    mask-repeat: no-repeat; // Ensure no repeat of the mask
    border:$bor ;
    color: $col;
    transition: background-color 0.3s ease; // Smooth background transition
}
.main__automation{
    background: url(../../../image//MainPage/MainBgAutomation.png);
    width: 100%;
    min-height: 100vh;
  overflow: hidden;
    padding: 10px 30px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transform: translateY(50px);
    transition: opacity 1s ease-in-out, transform .8s ease-in-out;
    &.is-visible {
        opacity: 1;
        transform: translateY(0);
      }
    .parallax-title{
        display: flex;
            flex-direction: column;
        .main__automation-title{
            font-weight: 300;
            font-size: 200px;
            color: #e4f3f1;
            display: flex;
            flex-direction: column;
            .main__automation-subtitle{
                font-weight: 300;
                font-size: 40px;
                text-align: right;
                color: #fff;
                display: flex;
                max-width:733px;
                align-self: flex-end;
                flex-direction: column;
                justify-content: center;
                div:first-child{
                    span{
                        color: #ff9300;
                    }
                }
                div{
                    span{
                        color: #f14902;
                        font-size: 48px;
                    }
                }
               
                
            }
        }
        .button-container-3 {
            position: relative;
            align-self: flex-end;
            margin-top: 20px;
            width: 253px;
            min-height: 55px;
            font-weight: 300;
            font-size: 30px;
            color: #fff;
            transition:all 0.9s ease;
            border-radius: 13px;
            overflow: hidden;
            background-color: #f14a02;
            a {
             display: flex;
             align-items: center;
             justify-content: center;
             position: absolute;
             text-align: center;
             line-height: 17px;
            //  overflow-wrap: break-word;
             top: -3px;
             width: 101%; // Кнопка займет всю ширину контейнера
             min-height: 62px;
             font-weight: 300;
             @include a(#141130, "https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png",
             7100%,
             100%,
             none,
             #fff);
             cursor: pointer;
             
             -webkit-animation: ani2 0.9s steps(70) forwards;
             animation: ani2 0.9s steps(70) forwards;
             &:hover {
              -webkit-animation: ani 1s steps(70) forwards;
              animation: ani 1s steps(70) forwards;
              background-color: #f14902;
             }
            }
           }
    }
    
    .parallax-link{
        align-self: flex-start;
        .main__automation-link{
            font-weight: 300;
            font-size: 16px;
            color: #e4f3f1;
            align-self: flex-start;
            margin-bottom:70px;
            margin-left: 70px;
            transition: all 0.3s ease;
            &:hover{
                color: #f14902;
                cursor: pointer;
            }
        }
    }
    
}

.mas {
    position: absolute;
    color: #141130;
    display: flex;
    line-height: 17px;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 101%;
    height: 101%;
    font-weight: 300;
    font-size: 30px;
    border-radius: 13px;
    overflow: hidden;
    transition:all 0.7s ease;
}

@-webkit-keyframes ani {
 from {
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
 }

 to {
  -webkit-mask-position: 100% 0;
  mask-position: 100% 0;
 }
}

@keyframes ani {
 from {
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
 }

 to {
  -webkit-mask-position: 100% 0;
  mask-position: 100% 0;
 }
}

@-webkit-keyframes ani2 {
 from {
  -webkit-mask-position: 100% 0;
  mask-position: 100% 0;
 }

 to {
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
 }
}

@keyframes ani2 {
 from {
  -webkit-mask-position: 100% 0;
  mask-position: 100% 0;
 }

 to {
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
 }
}

.parallax-button{
    align-self: flex-end;
    
}





@media (max-width: 1195px) {
    .main__automation{
        .main__automation-title{
            font-size: 160px;
        } 
    }
}
@media (max-width: 960px) {
    .main__automation{
        .parallax-title{
            .main__automation-title{
                font-size: 130px;
                .main__automation-subtitle{
                    font-size: 34px;
                    div{
                        span{
                            font-size: 38px;
                        }
                    }
                    
                }
            } 
        }
       
    }
}
@media (max-width: 780px) {
    .main__automation{
        padding: 50px 20px;
        .parallax-title{
            .main__automation-title{
                font-size: 100px;
                .main__automation-subtitle{
                    font-size: 30px;
                    div{
                        span{
                            font-size: 34px;
                        }
                    }
                    
                }
            } 
            .button-container-3{
                width: 205px;
                height: 40px;
                font-size: 25px;
                a{
                    height: 44px;
                }
            }
            .mas{
                font-size: 25px;
            }
        }
        
    }
}
@media (max-width: 600px) {
    .main__automation{
        .parallax-title{
            .main__automation-title{
                font-size: 80px;
                .main__automation-subtitle{
                    font-size: 25px;
                    div{
                        span{
                            font-size: 27px;
                        }
                    }
                    
                }
            }
        }
        .parallax-link{
            .main__automation-link{
                margin-bottom:30px;
                margin-left: 30px;
            }
        }
        
    }
}
@media (max-width: 490px) {
    .main__automation{
        .parallax-title{
            .main__automation-title{
                font-size: 60px;
                .main__automation-subtitle{
                    font-size: 20px;
                    div{
                        span{
                            font-size: 23px;
                        }
                    }
                    
                }
            } 
        }
        
    }
}
@media (max-width: 360px) {
    .main__automation{
        .parallax-title{
            .main__automation-title{
                font-size: 55px;
                
            } 
            .button-container-3{
                width: 170px;
            }
        }
        
    }
}